@import 'materialize-sass/materialize';
@import 'revealproto';

.reveal .controls .navigate-left {
    left: 0;
}

.techs img, p {
  opacity: .5;
  transition: transform .2s ease-in;
}
.reveal {
.techs img {
  max-width: none;
  max-height: none;
}

.techs .pop-up img {
  opacity: 1;
  transform: scale(1, 1);
}
}
.reveal {
  section {
    h1, h2, h3, h4, h5,h6, p {
      color: #fafafa;
    }
    &.js-libraries {
      img, svg {
        height: 5em !important;
        width: auto !important;
        max-width: none;
        max-height: none;
      }
    }
  }

}